.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkolivegreen;
  color: antiquewhite;
  height: 100vh;
  border-radius: 10px;
}

.counter-wrapper {
  display: flex;
  flex-direction: row;
}

.counter-amount-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.counter-amount-wrapper > input {
  margin: 1rem;
  display: flex;
  height: 50px;
  width: 75px;
  cursor: text;
  font-size: 2rem;
  text-align: center;
  border: none;
  color: darkolivegreen;
  background-color: antiquewhite;
  border-radius: 2px;
}

button {
  height: 50px;
  width: 200px;
  padding: 0.5rem 1rem;
  background-color: antiquewhite;
  color: darkolivegreen;
  border-radius: 5px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.counter {
  font-size: 2rem;
  margin: 0.5rem 2rem;
}